*.gitignore diff=lfs merge=lfs -text
*.cls diff=lfs merge=lfs -text
*.png diff=lfs merge=lfs -text
*.eps diff=lfs merge=lfs -text
*.pdf diff=lfs merge=lfs -text
*.tex diff=lfs merge=lfs -text
*.tikz diff=lfs merge=lfs -text
*.bib diff=lfs merge=lfs -text
*.py diff=lfs merge=lfs -text
*.sh diff=lfs merge=lfs -text
*.txt diff=lfs merge=lfs -text
*.yaml diff=lfs merge=lfs -text
*.gz diff=lfs merge=lfs -text
*.code-profile diff=lfs merge=lfs -text
*.* !text !filter !merge !diff
. !text !filter !merge !diff
* !text !filter !merge !diff
